@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --red: #e74c3c;
  --black: #333;
  --white: #fff;
  --bg-light: #f5f5f5;
  --color-light: #666;
  --border: 0.1rem solid var(--color-light);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.25s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-slider-thumb {
  background-color: var(--red);
}

body {
  background-color: var(--bg-light);
  overflow-x: hidden;
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  text-transform: capitalize;
}

.badge {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  color: var(--white);
  background-color: var(--red);
  font-size: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--black);
}
/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2.2rem;
  color: var(--black);
  text-transform: capitalize;
}

.header .flex .navbar a:hover {
  border-bottom: 0.2rem solid var(--red);
  padding-bottom: 0.5rem;
  color: var(--red);
}

.header .flex .icons button {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.7rem;
  background-color: transparent;
}

.header .flex .icons button:hover {
  color: var(--red);
}

#cart-btn {
  position: relative;
}

#menu-btn {
  display: none;
}

/* User Account */
.user-account {
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  z-index: 4;
  background-color: var(--white);
  height: 100vh;
  overflow-y: scroll;
}

.user-account.active {
  right: 0;
}

.user-account #close-account {
  font-size: 2rem;
  display: block;
  color: var(--red);
  text-align: right;
  margin-bottom: 2.5rem;
}

.user-account #close-account span {
  font-size: 1.2rem;
  vertical-align: middle;
  color: var(--black);
}

.user-account #close-account:hover span {
  color: var(--red);
  text-decoration: underline;
}

.user-account .user {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.user-account .user p {
  font-size: 2rem;
  color: var(--black);
}

.user-account .user p span {
  color: var(--red);
}

.user-account .display-order {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.user-account .display-order p {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  color: var(--color-light);
  background-color: var(--white);
  text-align: center;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}

.user-account .display-order p span {
  color: var(--red);
}

.user-account .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.user-account .flex form {
  flex: 1 1 40rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--bg-light);
}

.user-account .flex form h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.user-account .flex form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}

.user-account .flex form .btn {
  width: 100%;
  display: block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--red);
  text-transform: capitalize;
}

.user-account .flex form .btn:hover {
  background-color: var(--black);
}
/* Order */
.my-orders {
  position: fixed;
  top: 0;
  right: -110%;
  width: 35rem;
  z-index: 4;
  background-color: var(--bg-light);
  height: 100vh;
  overflow-y: scroll;
  border-left: var(--border);
}

.my-orders.active {
  right: 0;
}

.my-orders #close-orders {
  text-align: right;
  font-size: 2rem;
  display: block;
  color: var(--red);
  text-align: right;
  margin-bottom: 2.5rem;
}

.my-orders #close-orders span {
  font-size: 1.2rem;
  vertical-align: middle;
  color: var(--black);
}

.my-orders #close-orders:hover span {
  color: var(--red);
  text-decoration: underline;
}

.my-orders .title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 2.5rem;
  text-transform: capitalize;
}

.my-orders .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
  margin: 1.5rem 0;
}

.my-orders .box p {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--color-light);
  line-height: 1.5;
  text-transform: capitalize;
}

.my-orders .box p span {
  color: var(--black);
}

.my-orders .box p .order-status {
  background-color: rgb(35, 203, 147);
  color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.4rem;
}

/* Cart */
.shopping-cart {
  position: fixed;
  top: 0;
  right: -110%;
  width: 35rem;
  z-index: 4;
  background-color: var(--bg-light);
  height: 100vh;
  overflow-y: scroll;
  border-left: var(--border);
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart #close-cart {
  text-align: right;
  font-size: 2rem;
  display: block;
  color: var(--red);
  text-align: right;
  margin-bottom: 2.5rem;
}

.shopping-cart #close-cart span {
  font-size: 1.2rem;
  vertical-align: middle;
  color: var(--black);
}

.shopping-cart #close-cart:hover span {
  color: var(--red);
  text-decoration: underline;
}

.shopping-cart .cart-container {
  height: 80vh;
  overflow-y: scroll;
}

.shopping-cart .box {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  background-color: var(--white);
  margin: 1.7rem 0;
}

.shopping-cart .box .fa-times {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--red);
}

.shopping-cart .box .fa-times:hover {
  color: var(--black);
}

.shopping-cart .box img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.shopping-cart .box .content {
  font-size: 1.8rem;
  color: var(--color-light);
}

.shopping-cart .box .content p span {
  color: var(--red);
}

.shopping-cart .box .content form {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.shopping-cart .box .content form .qty {
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 8rem;
}

.shopping-cart .box .content form .fa-edit {
  width: 5.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--color-light);
  color: var(--white);
}

.shopping-cart .box .content form .fa-edit:hover {
  background-color: var(--black);
  color: var(--white);
}

.shopping-cart a.btn {
  background-color: var(--red);
  color: var(--white);
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  display: block;
  text-transform: capitalize;
}

/* Home Section */
@keyframes fadeLeft {
  0% {
    transform: translateX(5rem);
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(-5rem);
  }
}

.home-bg {
  background: url(https://as2.ftcdn.net/v2/jpg/01/35/90/71/1000_F_135907140_9v082znpQLzuipJ79jOWT1xPlKBHU4OU.jpg)
    no-repeat center/cover;
}

.home-bg .home .slide-container {
  margin-top: 10rem;
}

.home-bg .home .slide-container .slide {
  display: none;
  align-items: center;
  /* justify-content: center; */
  gap: 1.5rem;
  flex-wrap: wrap;
}

.home-bg .home .slide-container .slide.active {
  display: flex;
}

.home-bg .home .slide-container .slide .image {
  flex: 1 1 40rem;
  animation: fadeRight 0.4s linear;
}

.home-bg .home .slide-container .slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-bg .home .slide-container .slide .content {
  flex: 1 1 40rem;
  text-align: center;
}

.home-bg .home .slide-container .slide .content h3 {
  color: var(--white);
  margin-bottom: 3rem;
  text-transform: capitalize;
  font-size: 7.5rem;
  text-shadow: var(--box-shadow);
  line-height: 1.3;
  animation: fadeLeft 0.4s linear;
}

.home-bg .home .slide-container .slide .content .fa-angle-left,
.home-bg .home .slide-container .slide .content .fa-angle-right {
  height: 5rem;
  width: 5rem;
  line-height: 4.8rem;
  font-size: 2rem;
  color: var(--black);
  background-color: var(--white);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.home-bg .home .slide-container .slide .content .fa-angle-left:hover,
.home-bg .home .slide-container .slide .content .fa-angle-right:hover {
  color: var(--white);
  background-color: var(--red);
}

/* About */
.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
}

.about .box-container .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.about .box-container .box img {
  width: 100%;
  margin-bottom: 2rem;
}

.about .box-container .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.5rem;
  color: var(--color-light);
}

.about .box-container .box .btn {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: block;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.about .box-container .box .btn:hover {
  background-color: var(--red);
  color: var(--white);
}
/* Menu */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
}

.menu .box-container .box {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.menu .box-container .box .price {
  background-color: var(--black);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  color: var(--white);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.menu .box-container .box .price span {
  font-size: 2.5rem;
}

.menu .box-container .box img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.menu .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  margin: 0.5rem 0;
}

.menu .box-container .box form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.menu .box-container .box form .qty {
  width: 8rem;
  border: var(--border);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--black);
}

.menu .box-container .box form .btn {
  display: block;
  padding: 1rem 2rem;
  background-color: var(--red);
  border-radius: 0.5rem;
  color: var(--white);
  width: 100%;
  font-size: 1.6rem;
}
/* Order */
.order form {
  background-color: var(--white);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.order form .display-orders {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.order form .display-orders p {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  color: var(--color-light);
  background-color: var(--white);
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.order form .display-orders p span {
  color: var(--red);
}

.order form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.order form .flex .inputBox {
  width: 49%;
}

.order form .flex .inputBox label {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.order form .flex .inputBox .box {
  width: 100%;
  background-color: var(--bg-light);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.order form .btn {
  background-color: var(--red);
  color: var(--white);
  display: block;
  padding: 1rem 3rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
/* FAQ */
.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto;
}

.faq .accordion-container .accordion {
  margin: 1.5rem 0;
  box-shadow: var(--box-shadow);
}

.faq .accordion-container .accordion .accordion-heading {
  padding: 1.5rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 2rem;
  background-color: var(--white);
  color: var(--color-light);
  line-height: 2;
  font-size: 1.6rem;
  display: none;
  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

.faq .accordion-container .accordion.active .accordion-content {
  display: inline-block;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.faq .accordion-container .accordion.active .accordion-heading {
  background-color: var(--red);
}

.faq .accordion-container .accordion.active .accordion-heading i {
  transform: rotate(180deg);
}
/* Footer */
.footer {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
}

.footer .box-container .box {
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  min-height: 23rem;
}

.footer .box-container .box i {
  height: 7rem;
  width: 7rem;
  line-height: 6.8rem;
  font-size: 3rem;
  color: var(--white);
  background-color: var(--red);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.footer .box-container .box h3 {
  margin: 1rem 0;
  color: var(--black);
  text-transform: capitalize;
  font-size: 2rem;
}

.footer .box-container .box p {
  line-height: 2;
  font-size: 1.6rem;
  color: var(--color-light);
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
}

.footer .credit span {
  color: var(--red);
}
/* Tablet Screen */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
/* Mobie Screen */
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .home-bg .home .slide-container .slide .content h3 {
    font-size: 4rem;
  }

  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .my-orders {
    width: 100%;
    border-left: unset;
  }

  .shopping-cart {
    width: 100%;
    border-left: unset;
  }

  .about .box-container {
    grid-template-columns: 1fr;
  }

  .menu .box-container {
    grid-template-columns: 1fr;
  }
}
